#HelmiWrt Packages
mactoiface
luci-app-libernet
luci-app-libernet-bin
luci-app-libernet-plus
luci-app-mikhmon
luci-app-mikhmon4
luci-app-myxllite
luci-app-mulimiter
luci-app-netmon
luci-app-openspeedtest
luci-app-powermenu
luci-app-tinyfm
luci-app-v2raya
luci-app-xderm
luci-app-xderm-bin
luci-app-xderm-limit
luci-app-freevpnsite
luci-app-wegare
