
# LuCI Themes
luci-theme-argon
luci-theme-argon-18.06
luci-app-argon-config
luci-theme-material
luci-theme-netgear
luci-theme-darkmatter
luci-theme-atmaterial_new
luci-theme-edge
luci-theme-ifit
luci-theme-tomato
luci-theme-mcat
luci-theme-tano
luci-theme-neobird
luci-theme-rosy

#OpenClash Packages
luci-app-openclash

#Clash Packages
luci-app-clash

#HelmiWrt Packages
mactoiface
luci-app-libernet
luci-app-libernet-bin
luci-app-libernet-plus
luci-app-mikhmon
luci-app-mikhmon4
luci-app-myxllite
luci-app-mulimiter
luci-app-netmon
luci-app-openspeedtest
luci-app-powermenu
luci-app-tinyfm
luci-app-v2raya
luci-app-xderm
luci-app-xderm-bin
luci-app-xderm-limit
luci-app-freevpnsite
luci-app-wegare
