
# LuCI Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argon-18.06=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-theme-darkmatter=y
CONFIG_PACKAGE_luci-theme-atmaterial_new=n
CONFIG_PACKAGE_luci-theme-edge=y
CONFIG_PACKAGE_luci-theme-ifit=y
CONFIG_PACKAGE_luci-theme-tomato=n
CONFIG_PACKAGE_luci-theme-mcat=n
CONFIG_PACKAGE_luci-theme-tano=y
CONFIG_PACKAGE_luci-theme-neobird=y
CONFIG_PACKAGE_luci-theme-rosy=n

# LuCI Languages
CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_luci-i18n-base-en=y

#OpenClash Packages
CONFIG_PACKAGE_luci-app-openclash=y

#Clash Packages
CONFIG_PACKAGE_luci-app-clash=y

#HelmiWrt Packages
CONFIG_PACKAGE_mactoiface=y
CONFIG_PACKAGE_luci-app-libernet=n
CONFIG_PACKAGE_luci-app-libernet-bin=n
CONFIG_PACKAGE_luci-app-libernet-plus=y
CONFIG_PACKAGE_luci-app-mikhmon=y
CONFIG_PACKAGE_luci-app-mikhmon4=y
CONFIG_PACKAGE_luci-app-myxllite=y
CONFIG_PACKAGE_luci-app-mulimiter=y
CONFIG_PACKAGE_luci-app-netmon=y
CONFIG_PACKAGE_luci-app-openspeedtest=y
CONFIG_PACKAGE_luci-app-shutdown=y
CONFIG_PACKAGE_luci-app-tinyfm=y
CONFIG_PACKAGE_luci-app-v2raya=y
CONFIG_PACKAGE_luci-app-xderm=n
CONFIG_PACKAGE_luci-app-xderm-bin=y
CONFIG_PACKAGE_luci-app-xderm-limit=y
CONFIG_PACKAGE_luci-app-freevpnsite=y
CONFIG_PACKAGE_luci-app-wegare=y

# Luci App unused
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-fileassistant=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-ramfree=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-softethervpn=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-turboacc=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-firewall=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-ddns=n
